<!-- <ion-header class="pay-now-head">
	<ion-row>
		<ion-col col-12 class="padd-0">
			<ion-navbar>
				<ion-row>
					<ion-col col-2>
						<ion-buttons left>
							<button ion-button icon-only (click)="viewCtrl.dismiss()" class="my-style-for-modal">
								<ion-icon name="arrow-back"></ion-icon>
							</button>
						</ion-buttons>
					</ion-col>
				</ion-row>
			</ion-navbar>
		</ion-col>
	</ion-row>
</ion-header> -->

<ion-content>
	<div>
	</div>
	<form class="update-apssword" [formGroup]="updatePasswordForm" (ngSubmit)="updatePasswordForm.valid ? onSubmit() : submitAttempt = true ">

		<h1>Update P<span>a</span>ssword</h1>

		<div class="form-sec">
			<div class="icon-input-field eye-icon-wrap">
				<ion-label class="label">Current Password</ion-label>
				<ion-item no-lines class="item-input-icon">

					<ion-input type="password" formControlName="currentPassword" class="password-sec input" placeholder="Current Password"
					 clearOnEdit=false></ion-input>
				</ion-item>
			</div>
			<div *ngIf="(submitAttempt || updatePasswordForm.controls.currentPassword.touched ) && updatePasswordForm.controls.currentPassword.errors">
				<p class="error">Please enter valid current password</p>
			</div>
		</div>

		<div class="form-sec">
			<div class="icon-input-field eye-icon-wrap">
				<ion-label class="label">new Password</ion-label>
				<ion-item no-lines class="item-input-icon">
					<ion-input type="password" formControlName="newPassword" class="password-sec input" placeholder="New Password"
					 clearOnEdit=false></ion-input>
				</ion-item>
			</div>
			<div *ngIf="(submitAttempt || updatePasswordForm.controls.newPassword.touched ) && updatePasswordForm.controls.newPassword.errors">
				<p class="error">Please enter valid new password</p>
			</div>
		</div>

		<div class="form-sec">
			<div class="icon-input-field eye-icon-wrap">
				<ion-label class="label">confirm Password</ion-label>
				<ion-item no-lines class="item-input-icon">
					<ion-input type="password" formControlName="confirmPassword" class="password-sec input" placeholder="Current Password"
					 clearOnEdit=false></ion-input>
				</ion-item>
			</div>
			<div *ngIf="(submitAttempt || updatePasswordForm.controls.confirmPassword.touched ) && updatePasswordForm.controls.confirmPassword.errors">
				<p class="error">Please enter valid confirm password</p>
			</div>
		</div>

		<div class="submitBtn">
			<button type="submit" id="saveBtn">submit</button>
		</div>

	</form>

</ion-content>