page-funds-payment-method {
    ion-header{
        button{
            position: absolute !important;
            top: 8px;
            left: 10px;
        }
        .toolbar-content{
            margin-left: 35px;
            margin-top: 2px;
        }
        ion-navbar {
            .button-inner {
                display: none;
            }
        }
    }
}
