page-pay-now-final-summary {
	.pay-now-head{
		.content-part {
		    padding: 8px;
		}
		.header-class {
		    font-size: 20px;
		    font-family: roboto;
		    font-weight: bold;
		    color: #0077be;
		    padding: 2px 0 0 20px;
		    text-align:left;
		    span {
		      color: #e42215;
		    }
		}
		.ion-md-arrow-round-back:before {
		    content: "\f288";
		    position: relative;
		    top: 4px;
		    font-size: 20px;
		    opacity: 0.6;
		    color:#0077be;
		    font-weight: 300;
		}
		.ion-md-search:before {
		    content: "\f274";
		    font-size: 16px;
		    color: #000000;
		    opacity:0.6
		}
		.ion-md-arrow-down{
		   color:#0077be;
			font-size:20px;
			position: relative;
    		font-weight: bold;
		}
		.ion-md-print{
		    color:#0077be;
			font-size:20px;
			position: relative;
    		font-weight: bold;
		}
		ion-icon{
			color:#000000;
			opacity:0.7
		}
	}
	.payment-summary{
	  padding:18px;
	  border-radius:4px;
	  box-shadow:0px 1px 3px #707070;
	  height: calc(100vh - 48px);
	  margin-top: 18px;
		.header-sec{
		    width:100%;
		    text-align:center;
			    h1{
				  	color:#0077BE;
				  	font-size:18px;
				  	font-family:poppins;
				  	font-weight:bold;
				  	text-transform:capitalize;
				  	span{
				  	 color:#E42312;
				}
		  	}
		}
		.trans-sec{
			color: #E42312;
		    font-size: 16px;
		    font-family: poppins;
		    font-weight: 400;
		    text-transform: capitalize;
		    text-align: center;
		    margin: 0 0px 5px;
		}
		.total-amount{
		   width:100%;
		   text-align: center;
		   p{
		   	color:#0077BE;
		   	font-size:14px;
		   	font-family:poppins;
		   	font-weight:bold;
		   	margin:24px 0 5px 0;
		   }
		   h2{
		    color:#34C409;
		    font-size:24px;
		   	font-family:poppins;
		   	font-weight:500;
		   	margin: 0;
		   }
		}
		.all-done-wrap{
			width:100%;
			.all-done{
				color:#0099CE;
				font-size:22px;
				font-family:roboto;
				font-weight:500;
				margin: 30px 0 15px 0;
			}
			.paymt-receive{
				color: #707070;
			    font-size: 17px;
			    font-family: roboto;
			    font-weight: 500;
			    margin-top: 5px;
			    letter-spacing: 0.46px;
			}
			.policy-wrap{
			   color:#707070;
			   font-family:roboto;
			   font-weight:500;
			   font-size:18px;
			   letter-spacing: 0.6px
			    span{
			   		color:#707070;
				   font-family:roboto;
				   font-weight:300;
				   font-size:18px;
				   letter-spacing: 0.6px
			    }
			}
		}
	}
	ion-footer{
		.submitBtn {
		    background: #0077BE;
		    font-size: 14px;
		    font-family: roboto;
		    font-weight: 400;
		    color: #ffffff;
		    text-transform: uppercase;
		    height: 48px;
		    border-radius: 0;
		    margin:0;
		    letter-spacing: 1.25px;
		    width:100%
		}
	}
}
