<ion-header>
  <app-header [headerTitle]="headerTitle"></app-header>
</ion-header>

<ion-content class="raise-req">
  <div class="raise-request-Wrap">
    <!-- <h2>Verify Service Request</h2> -->
    <ion-card-content class="confirmation-details">
      <div class="ticket-num">
        <div class="ticketNum">Ticket No. <span>#{{raiseServiceReq.autoIncID}}</span></div>
        <span>
          <ion-buttons end>
            <button ion-button icon-only (click)="editRequest()" class="ionic-icons edit-icon">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-buttons>
        </span>
        <span>
          <ion-buttons end>
            <button ion-button icon-only (click)="deleteRequest()" class="ionic-icons trash-icon">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-buttons>
        </span>
      </div>
      <div>
        <ion-label class="txt1">Request For</ion-label>
        <ion-label class="sub-label">{{raiseServiceReq.category?.category}}</ion-label>
      </div>
      <div>
        <ion-label class="txt1">Policy No</ion-label>
        <ion-label class="sub-label">{{raiseServiceReq.policyNo}}</ion-label>
      </div>
      <!-- <div>
        <ion-label class="txt1">Category</ion-label>
        <ion-label class="sub-label">{{raiseServiceReq.category.category}}</ion-label>
      </div> -->
      <!-- <div>
        <ion-label class="txt1">Sub Category</ion-label>
        <ion-label class="sub-label">{{raiseServiceReq.subCategory}}</ion-label>
      </div> -->
      <div>
        <ion-label class="txt1">Message</ion-label>
        <ion-label class="sub-label">{{raiseServiceReq.message}}</ion-label>
      </div>
      <!-- <div class="attach" *ngFor="let item of raiseServiceReq.fileAttachment">
        <p>{{item.fileName}}</p>
      </div> -->

      <div class="choose-file" *ngFor="let item of raiseServiceReq.fileAttachment">
        <p>{{item.fileName}}
        </p>
      </div>
      <!-- <div class="choose-file">
        <p>sadsadasd<span><ion-icon name="close" ios="ios-close" md="md-close"></ion-icon></span></p>
      </div>
      <div class="choose-file">
        <p>sadsadasd<span><ion-icon name="close" ios="ios-close" md="md-close"></ion-icon></span></p>
      </div> -->

    </ion-card-content>
  </div>
</ion-content>

<ion-footer>
  <div class="submit">
    <button type="submit" (click)="submitRequestClicked()" class="btn-f">SUBMIT REQUEST</button>
  </div>
</ion-footer>