page-raise-request-confirm {
  .scroll-content {
    margin-top: 50px !important;
}
  .raise-req {
    .raise-request-Wrap{
        padding:8px;
        padding-top: 0;
        h2{
           color: #0088D2;
            font-size: 24px;
            font-family: poppins;
            font-weight: 400;
            margin-bottom: 24px;
            letter-spacing: 0;
            opacity: 1;
            text-transform: capitalize;
        }
      .confirmation-details{
          padding:0;
          .ticket-num{
              color:#E32313;
              font-size:18px;
              font-family:poppins;
              font-weight:500;
              display: flex;
              margin-top: 20px;
              .ionic-icons{
                position: relative;
                top: -6px;
                padding: 0;
                font-size: 12px;
                left: 20px;
              }
              .ticketNum{
                width:75%;
                font-size: 18px;
                font-family: poppins;
                font-weight: 500;
                letter-spacing: 0;
              }
              .edit-icon{
                color:#0088D2
              }
              .trash-icon{
                color:#E32313;
                padding:0;
                ion-icon{
                  padding-left:10px;
                }
              }
          }
          .txt1{
            margin-bottom:0px;
            text-transform: capitalize;
          }
          .sub-label{
            margin-top: 0;
            font-size: 13px;
            font-family: roboto;
            font-weight: 400;
            color: #454545;
            text-transform: capitalize;
            letter-spacing: 0.12px;
          }
          .choose-file{
            max-width:270px;
            float:left;
            padding:5px;
            border-radius:20px;
            margin: 10px 10px 10px 0;
            border: 1px solid #D0D0D0;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
            p{
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              position: relative;
              margin: 0;
              padding: 5px 20px 5px 5px;
              font-family: roboto;
              font-size: 16px;
              color: #454545DE;
              text-transform: initial;
              letter-spacing: 0.21px;
              line-height: 19px;
              span{
                position: absolute;
                right: 2px;
               float:right;
               padding-left:10px;
               font-size:18px;
               color:#000000;
              }
            }
          }
      }
    }
      
  }
}
.submit{     
  button{
    background: #0077be;
    color: #ffffff;
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-family: roboto;
    font-weight: 400;
    letter-spacing: 1.25px;
  }

}