<ion-header>
  <app-header [headerTitle]="headerTitle"
      (headerOutput3)="goToLoanHistory($event)">
  </app-header>
</ion-header>

<ion-content>
  <form [formGroup]="loanPayoutForm">
    <div class="loan-payment">
      <ion-row>
         <h1 class="subHeader-Wrap">Product : {{this.advanceQuoteReq.policyName}} - {{this.advanceQuoteReq.policyNo}}</h1>
        <div class="step-sec">
          <div class="col-3">
            <img src="assets/imgs/Group%2019091.png">
          </div>
          <div class="col-8">
            <label>step 2:</label>
            <span>select payment method</span>
          </div>
        </div>

        <div class="payment-method">
          <!-- <ion-item>
            <ion-label>Select Payout Method</ion-label>
            <ion-select [(ngModel)]="advanceQuoteReq.paymentMode" [ngModelOptions]="{standalone: true}"
              (ionChange)="payoutSelect(advanceQuoteReq.paymentMode)">
              <ion-option *ngFor="let list of bankPayoutList" [value]="list.value">{{list.name}}</ion-option>
            </ion-select>
          </ion-item> -->

          <div *ngIf="advanceQuoteReq.paymentMode == bankPayoutTag.BANK">
            <ion-item>
              <ion-label>Select Account</ion-label>
              <ion-select placeholder="Select Account" formControlName="bankNumber" [(ngModel)]="advanceQuoteReq.accountNumberId"
                (ionChange)="selectBank(advanceQuoteReq.accountNumberId)">
                <ion-option *ngFor="let list of bankAccountsList" [value]="list.accountNumberId">{{list.bankName}}
                </ion-option>
              </ion-select>
            </ion-item>
            <div
              *ngIf="(submitAttempt || loanPayoutForm.controls.bankNumber.touched ) && loanPayoutForm.controls.bankNumber.errors">
              <p class="error">Select Account</p>
            </div>

            <ion-item>
              <ion-label color="primary" fixed>Account No.</ion-label>
              <ion-input type="text" [(ngModel)]="advanceQuoteReq.bankAccNo" [ngModelOptions]="{standalone: true}"
                placeholder="Account No." disabled>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary" fixed>Branch</ion-label>
              <ion-input type="text" [(ngModel)]="advanceQuoteReq.bankBranch" [ngModelOptions]="{standalone: true}" placeholder="Branch" disabled>
              </ion-input>
            </ion-item>
          </div>

          <div *ngIf="advanceQuoteReq.paymentMode == bankPayoutTag.MPESA">
            <ion-item>
              <ion-label color="primary" fixed>Mobile No.</ion-label>
              <ion-input type="text" [(ngModel)]="advanceQuoteReq.mobile" [ngModelOptions]="{standalone: true}"
                placeholder="Mobile No." disabled></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary" fixed>Amount</ion-label>
              <ion-input type="text" [(ngModel)]="advanceQuoteReq.loanAmount" [ngModelOptions]="{standalone: true}"
                placeholder="Amount" disabled></ion-input>
            </ion-item>
          </div>

        </div>
      </ion-row>
    </div>
  </form>
</ion-content>

<ion-footer>
  <p>Click ‘Proceed’ to select payout</p>
  <button ion-button full text-uppercase class="m-0 submitBtn padd-0" (click)="loanPayoutForm.valid ? proceedClicked() : submitAttempt = true">Proceed</button>
</ion-footer>
