page-initial-withdraw-verify {
  .verify-loan {
    padding: 0px 15px 15px 15px;
    .step-sec {
      display: flex;
      .col-3 {
        margin: 0px 16px 10px 0;
      }
      .col-8 {
        padding-top: 10px;
      }
      ion-label {
        float: left;
        margin: 0;
        color: #0077be;
        text-transform: capitalize;
        font-family: roboto;
        font-size: 16px;
        padding-right: 5px;
        font-weight: 500;
        letter-spacing: 0.53px;
      }
      span {
        color: #000000;
        font-size: 13px;
        opacity: 0.6;
        text-transform: capitalize;
        fony-weight: lighter;
      }
    }
    .loan-applica {
      width: 100%;
      display: flex;
      margin-top: 15px;
      position: relative;
      .loan-text {
        width: 50%;
        color: #0077be;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 14px;
        font-family: roboto;
        margin-bottom: 27px;
        letter-spacing: 0.09px;
      }
      .icon {
        width: 50%;
        text-align: right;
        button {
          margin: -14px 0px 0px 8px;
          width: 20px;
        }
      }
    }
    .deduction-sec {
      width: 100%;
      p {
        color: #707070;
        font-size: 14px;
        font-family: roboto;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0.13px;
        margin-bottom: 15px;
      }

      summary::-webkit-details-marker {
        display: none;
      }
      .total-deduct{
        float: right;
        span{
          color:#0077be;
          text-transform: uppercase;
          font-size: 14px;
          font-family: roboto;
          font-weight: 500;
          letter-spacing: 0.09px;
        }
        .alignRight{
          position:relative;
          right:10px;
        }
      }
      .dw {
        float: right;
      }
      details[open] {
        .dw {
          transform: rotate(180deg);
        }
      }
    }
    .amountSec {
      width: 100%;
      display: flex;
      padding-bottom: 8px;
      .key {
        width: 54%;
        font-size: 14px;
        color: #707070;
        font-family: roboto;
        // font-weight: 500;
        letter-spacing: 0.46px;
      }
      .pull-right {
        width: 50%;
        text-align: right;
      }
      .blue-text {
        color: #0077be;
      }
      .txt-transfrm {
        text-transform: uppercase;
      }
      .txt-capitalize {
        text-transform: capitalize;
      }
      .green-colr {
        font-size: 14px;
        font-family: roboto;
        font-weight: 500;
        letter-spacing: 0.24px;
        color: #39d50a;
      }
    }
    .payment-method {
      width: 100%;
      margin-top: 15px;
      input {
        width: 100%;
        border-bottom: 1px solid #cccccc;
        padding: 5px 10px;
        font-size: 12px;
        margin-bottom: 15px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        background: #fff;
      }
    }
    .m-t-10 {
      margin-top: 10px;
    }
  }
  ion-footer {
    .submitBtn {
      background: #0077be;
      color: #ffffff;
      font-size: 14px;
      font-family: roboto;
      font-weight: 400;
      text-transform: uppercase;
      height: 48px;
      border-radius: 0;
      margin: 0;
      letter-spacing: 1.25px;
    }
  }
  .m-b-10 {
    margin-bottom: 15px;
  }
  .terms-condition {
    display: flex;
    padding: 0 15px;
    p{
      margin-bottom: 8px;
      margin-left: 10px;
      margin-top: -2px;
      span{
        color: #0077be;
      }

    }
}
.error{
  padding: 0 15px;
  margin-top: 0;
}
/*Tooltip start*/
.tooltip-verify{
  position: absolute;
  right: 0;
  top: -35px;
  background: #383838;
  color: #fff;
  padding: 9px;
  border-radius: 5px;
  font-size: 10px;
  opacity: 0;
  transition: .3s;
}
.edit-icon-info:hover+.modift-tooltip{
  opacity: 1;
}
.delete-icon-info:hover+.delete-tooltip{
  opacity: 1;
}
// .modify-btn:hover+.modift-tooltip {
//   opacity: 1;
// }
.info-icon {
  width: auto !important;
  position: relative;
  top: -10px;
  left: -7px;
  font-size: 14px;
}
/*Tooltip end*/
}
