page-confirm-password {
  .mainDiv {
    padding: 8px;
  }
  .mainDiv ion-item {
    padding: 0;
  }
  .account-created {
    color: #454545;
    font-size: 14px;
    font-family: roboto;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing:0.25px
  }
  .password-sec {
    border-bottom: 1px solid#999;
    margin-top: 20px;
  }
  .image-part{
    margin: 15% 0 0 auto;
    .enter-password{
      font-size: 36px;
      font-family: Roboto;
      font-weight: 300;
      color: #0071ba;
      text-transform: capitalize;
      letter-spacing: 0.25px;
    }
  }
  .eye-icon-wrap {
    position: relative;
  }
  .eye-icon-wrap .eye-button {
    position: absolute;
    top: 36px;
    height: 20px;
    right: 11px;
    font-size: 20px;
    color:#0077be;
  }
  #saveBtn {
    background: #0077be;
    font-size: 14px;
    color: #ffffff;
    font-family: roboto;
    font-weight: 400;
    height: 36px;
    cursor: pointer;
    box-shadow: none;
    letter-spacing:1.25px;
    text-transform: uppercase;
  }
  .psd-Char {
    font-size: 12px;
    font-family: roboto;
    font-weight: 400;
    color: #454545;
    line-height: 14px;
    text-align: left;
  }
  .enter-password{
    font-size: 36px;
    font-family: Roboto;
    font-weight: 300;
    color: #0071ba;
    text-transform: capitalize;
    letter-spacing: 0.25px;
  }
}
