<ion-header>
  <app-header [headerTitle]="headerTitle"></app-header>
</ion-header>

<ion-content padding text-center>
  <form class="mainDiv" [formGroup]="passwordForm" (ngSubmit)="passwordForm.valid ? clickSave() : submitAttempt = true ">

   <div class="image-part">
      <!-- <img src="assets/imgs/Britam InControl Logo.png" alt="Britam InControl Logo" />-->
      <h1 class="enter-password">enter password</h1>
    </div>

    <div class="sign-up-wrap">
      <ion-list>
        <p class="account-created">
          Your account is created with the Email ID - {{email | emailMasking}}. Please set a password to continue.
        </p>

        <div class="icon-input-field eye-icon-wrap">
          <ion-item no-lines class="item-input-icon">
            <ion-input class="password-sec" type="{{pwdTypeForPass}}" placeholder="Enter Password" clearOnEdit=false formControlName="password" (ionChange)="onPasswordChange()"></ion-input>
          </ion-item>
          <button ion-button type="button" color="dark" class="eye-button" clear item-right (click)="changePwdType('forPass')">
            <ion-icon [name]="pwdTypeForPass == 'password' ? 'eye' : 'eye-off'"></ion-icon>
          </button>
        </div>
        <div *ngIf="(submitAttempt || passwordForm.controls.password.touched ) && passwordForm.controls.password.errors">
          <p class="error">Please enter valid password</p>
        </div>

        <div class="icon-input-field eye-icon-wrap" *ngIf="showConfirmPass">
          <ion-item no-lines class="item-input-icon">
            <ion-input class="password-sec" type="{{pwdTypeforConfirm}}" clearOnEdit=false placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
          </ion-item>
          <button ion-button type="button" color="dark" class="eye-button" clear item-right (click)="changePwdType('forConfirm')">
            <ion-icon [name]="pwdTypeforConfirm == 'password' ? 'eye' : 'eye-off'"></ion-icon>
          </button>
        </div>
        <div *ngIf="(submitAttempt || passwordForm.controls.confirmPassword.touched ) && passwordForm.controls.confirmPassword.errors && showConfirmPass">
          <p class="error">Confirm password does not match</p>
        </div>
        
         <div>
          <p class="psd-Char">
            - Password should be 8 - 25 characters long
          </p>
          <p class="psd-Char">
            - Passwords should be a combination of an UPPERCASE letter, a lowercase letter, a special symbol (@,#,!)
            and at least one number (0,1,2,3,4,5).
          </p>
        </div> 

      </ion-list>
    </div>

    <ion-row>
      <ion-col col-12 class="bg_button padd-0">
        <button type="submit" id="saveBtn" ion-button block>SAVE</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>